.sideBarDesk__container {
  min-width: 220px;
  padding: 2rem 0 0 1rem;
  color: #fff;
}
.sideBarDesk__title {
  font-size: 24px;
  margin: 1rem 0;
}
.sideBarDesk__item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: 600;
}
