.modalFilter__container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 60;
}
.filter__dropdown {
  background-color: #fff;
  position: absolute;
  min-height: 250px;
  max-height: 80vh;
  min-width: 200px;
  bottom: 0;
  right: 10px;
  border-radius: 1rem;
  padding: 1rem;
  overflow: scroll;
  color: #000;
}
/*componente option*/
.option__container {
  list-style-type: none;
}
.option__item {
  padding: 1rem;
}
