.header__container {
  background-color: #000;
  width: 100vw;
  height: 60px;
  color: #fff;
  position: fixed;
  z-index: 50;
}
.header__wrapper {
  background-color: inherit;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin: 0 auto;
  padding: 0 1rem;
}
.header__title {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
}

.header__nav {
  min-width: 250px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.8;
}
.header__search {
  margin: 1rem;
  flex-grow: 0.8;
}
.header__search-inputText {
  height: 2rem;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.16);
  width: 70%;
  color: #fff;
  font-size: 1rem;
}
.header__search-inputSubmit {
  background-color: aqua;
  height: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.16);
  color: #fff;
}
.header__nav-wrapper-mobile {
  height: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 980px) {
  .header__nav-wrapper-desk {
    flex-grow: 0.2;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bolder;
  }
  .header__nav-wrapper-desk a {
    cursor: pointer;
  }
}
