.sideBarMobile__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
  margin-top: 1rem;
}
.sideBarMobile__btn {
  background-color: #151515;
  background-color: aqua;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 2rem;
  border: solid 1px black;
}
