.card__Container {
  background-color: #151515;
  color: #fff;
  padding-bottom: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  max-width: 480px;
  min-width: 300px;
  width: 100%;
}

.card__img {
  object-fit: cover;
  width: 98%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 4rem;
  cursor: pointer;
  transition: color 0.8s ease-in;
}
.card__title:hover {
  color: aqua;
}
.card__platforms {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}
.card__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 0.5rem;
  color: hsla(0, 0%, 100%, 0.2);
  height: 3rem;
}

.card__items {
  display: flex;
}
.card__item {
  padding-left: 0.5rem;
}

@media (min-width: 980px) {
  .card__Container {
    min-width: 150px;
    max-width: 280px;
    min-height: 420px;
    width: 100%;
  }
  .card__platforms,
  .card__article,
  .card__items,
  .card__item {
    font-size: 0.7rem;
  }
}
