/* :root {
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 0.5s all ease;
}
a:hover {
  background-color: #fff;
  color: #000;
}
